@use '../../lib/service.scss' as s;
.card {
  width: max-content;
  height: auto;
  display: flex;
  padding: 16px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin: 50px;
}

.card__header {
  width: 283px;
  height: auto;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.card__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.card__subtitle {
  font-size: 18px;
  color: s.color(gray);
}
.card__button {
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}
.card__button--blue {
  background: s.color(main);
}
